<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

<nav class="navbar">

    <div class="logo">
        JobConnect
    </div>

    <div class="menu">
        <a href="/vagas">Vagas</a>
        <a href="/cadastrar_vaga">Cadastrar</a>
    </div>

</nav>

<div class="container">

    <div class="hero">

        <h1>
            Bem-vindo ao
            <span>JobConnect</span>
        </h1>

        <p>
            Plataforma moderna para candidatos e recrutadores.
        </p>

        <a href="/vagas" class="btn">
            Explorar Vagas
        </a>

    </div>


</body>
</html>