<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Vagas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="hero">

        <h1>💼 Sistema de Vagas</h1>

        <p>
            Encontre oportunidades de emprego.
        </p>

        <div class="buttons">

            <a href="/login" class="btn">
                Login
            </a>

            <a href="/cadastro" class="btn">
                Criar Conta
            </a>

        </div>

    </div>

</div>

</body>
</html>